@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "Courier New";
  src: url("/fonts/Courier New.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Courier New";
  src: url("/fonts/Courier New Bold Italic font.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.icon {
  @apply max-w-[70px];
}
